[submodule "vimfiles/bundle/vundle"]
	path = vimfiles/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "vimfiles/bundle/vim-easymotion"]
	path = vimfiles/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimfiles/bundle/vim-snippets"]
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/taboo.vim"]
	path = vimfiles/bundle/taboo.vim
	url = https://github.com/gcmt/taboo.vim.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/vim-go"]
	path = vimfiles/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vimfiles/bundle/vim-jsx"]
	path = vimfiles/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vimfiles/bundle/vim-less"]
	path = vimfiles/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-wakatime"]
	path = vimfiles/bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
